@model Speakster.Models.Language

@{
    Layout = null;
}
<!DOCTYPE HTML>
<!--
    Spectral by HTML5 UP
    html5up.net |
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>Spectral by HTML5 UP</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    @*@Styles.Render("~/Content/social/bootstrap.css")
        @Styles.Render("~/Content/social/bootstrap-social.css")*@
    @Styles.Render("~/Content/main.css")
    @Styles.Render("~/Content/custom.css")

    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
</head>
<body class="landing">

    <!-- Page Wrapper -->
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header" class="alt">
            <h1><a href="index.html">Spectral</a></h1>
            <nav id="nav">
                <ul>
                    <li class="special">
                        <a href="#menu" class="menuToggle"><span>Menu</span></a>
                        <div id="menu">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="generic.html">Generic</a></li>
                                <li><a href="elements.html">Elements</a></li>
                                <li><a href="#">Sign Up</a></li>
                                <li><a href="#">Log In</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>

        <!-- Banner -->

        <section id="banner">
            <div class="inner">
                <h1 style="position:absolute;top:6%;margin-left:4%;margin-top:-2%">Speakster</h1>

                <div class="inner-content">
                    <h1 style="font-size:30px;">Cansado de tentar?</h1><br />

                    <p>
                        Fique fluente em um idioma, sem gastar<br />
                        muito com cursos que só querem te enrolar.</br>
                    </p>
                    <br />
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()


                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="content-objects">
                            <h4 id="quero-falar">Quero falar</h4>

                            @Html.DropDownList("Id", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
                            <input id="arrow-right" type="image" src="../../images/arrow-right.png" height="48" width="48" border="0" alt="Submit Form">
                        </div>
                    }
                </div>
            </div>
            <a href="#one" class="more scrolly">Como funciona?</a>
        </section>

        <!-- One -->
        <section id="one" class="wrapper style1 special">
            <div class="inner">
                <header class="major">
                    <h2>
                        Aprenda com quem realmente fala.<br />
                        Atendimento particular para todos os alunos!
                    </h2>
                    <p>
                        Seu professor, onde quer que você esteja<br />
                        Sem a enrolação de cursos tradicionais, aqui você acompanha seu progresso.
                    </p>
                </header>
                <ul class="icons major">
                    <li><span class="icon fa-comments-o major style1"><span class="label">Lorem</span></span></li>
                    <li><span class="icon fa-star major style2"><span class="label">Ipsum</span></span></li>
                    <li><span class="icon fa-globe major style3"><span class="label">Dolor</span></span></li>
                </ul>
            </div>
        </section>

        <!-- Two -->
        <div class="container wrapper style2">
            <div class="row centered">

                <div class="col-xs-6" id="money-comparison-image">
                    <img src="/../../images/money-comparison.png" alt="" />
                </div>
                <div class="col-xs-6">
                    <h2>40% Mais barato</h2>
                    <p>Em comparação com cursos tradicionais.</p>
                </div>
            </div>
        </div>
        @*<section id="cta" class="wrapper style2">
            <section class="inner">
                <header>
                    <h2>Arcue ut vel commodo</h2>
                    <p>Aliquam ut ex ut augue consectetur interdum endrerit imperdiet amet eleifend fringilla.</p>
                </header>
                <ul class="actions vertical">
                    <li><img id="money-comparison-image" src="/../../images/money-comparison.png" alt="" /></li>
                </ul>

            </section>
            @*<section class="">
                    <div class="container">
                        <div class="row" id="money-comparison-image">
                            <div class="col-xs-5">
                                <img src="/../../images/money-comparison.png" alt="" />
                            </div>

                            <div class="col-xs-6">
                                <h2>
                                    40% Mais barato
                                </h2>
                                <p>em comparação com cursos tradicionais.</p>
                            </div>
                        </div>
                    </div>
                </section>*@

        @*<section class="spotlight">
                    <div class="image-right"><img src="/../../images/money-comparison.png" alt="" /></div><div class="content">
                        <h2>
                            Seu professor<br />
                            entende suas necessidades.
                        </h2>
                        <p>O nosso foco é que você realmente fique fluente, sem estudar somente aquela gramática chata. </p>
                    </div>
                </section>
                <section class="spotlight">
                    <div class="image-left"><img src="/../../images/money-comparison.png" alt="" /></div><div class="content">
                        <h2>
                            Augue eleifend aliquet<br />
                            sed condimentum
                        </h2>
                        <p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>
                    </div>
                </section>
            </section>*@

        <!-- Three -->
        <section id="three" class="wrapper style3 special">
            <div class="inner">
                <header class="major">
                    <h2>Accumsan mus tortor nunc aliquet</h2>
                    <p>
                        Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br />
                        fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.
                    </p>
                </header>
                <ul class="features">
                    <li class="icon fa-paper-plane-o">
                        <h3>Arcu accumsan</h3>
                        <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
                    </li>
                    <li class="icon fa-laptop">
                        <h3>Ac Augue Eget</h3>
                        <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
                    </li>
                    <li class="icon fa-code">
                        <h3>Mus Scelerisque</h3>
                        <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
                    </li>
                    <li class="icon fa-headphones">
                        <h3>Mauris Imperdiet</h3>
                        <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
                    </li>
                    <li class="icon fa-heart-o">
                        <h3>Aenean Primis</h3>
                        <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
                    </li>
                    <li class="icon fa-flag-o">
                        <h3>Tortor Ut</h3>
                        <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
                    </li>
                </ul>
            </div>
        </section>

        <!-- CTA -->
        <section id="cta" class="wrapper style4">
            <div class="inner">
                <header>
                    <h2>Arcue ut vel commodo</h2>
                    <p>Aliquam ut ex ut augue consectetur interdum endrerit imperdiet amet eleifend fringilla.</p>
                </header>
                <ul class="actions vertical">
                    <li><a href="#" class="button2 fit special">Activate</a></li>
                    <li><a href="#" class="button2 fit">Learn More</a></li>
                </ul>
            </div>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; Untitled</li>
                <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
        </footer>

    </div>


</body>
</html>
@Scripts.Render("~/Content/js/jquery.min.js")
@Scripts.Render("~/Content/js/jquery.scrollex.min.js")
@Scripts.Render("~/Content/js/jquery.scrolly.min.js")
@Scripts.Render("~/Content/js/skel.min.js")
@Scripts.Render("~/Content/js/util.js")
@Scripts.Render("~/Content/js/main.js")